.t2e-log{
    color: #232323 !important;
    background-color: rgb(221, 221, 221) !important;
    border-bottom-color: rgb(221, 221, 221) !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-style: outset !important;
    border-bottom-width: 2px !important;
    border-left-color: rgb(221, 221, 221) !important;
    border-left-style: outset !important;
    border-left-width: 2px !important;
    border-right-color: rgb(221, 221, 221) !important;
    border-right-style: outset !important;
    border-right-width: 2px !important;
    border-top-color: rgb(221, 221, 221) !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-style: outset !important;
    border-top-width: 2px !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    font-size: 13px !important;
    font-weight: 400;
    height: 58px;
    letter-spacing: normal;
    line-height: 30px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    width: 145px;
}

.t2e-v-text-field{
    max-width: 350px;
}